<h1>Tabla de estadísticas</h1>

<p> Preguntas: <%= quizes %></p>
<p> Comentarios totales: <%= comentarios %></p>
<p> Media de comentarios: <%= mediaComentarios %></p>
<p> Preguntas sin comentarios: <%= pregSinComentarios %></p>
<p> Preguntas con comentarios: <%= pregConComentarios %></p>